<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_idEpisode}
			<a href="#" id="addSearchControl_idEpisode" class="addSearchControl" {$addSearchControl_idEpisode_attrs}>Id Episode</a><br>
		{END addSearch_idEpisode}
		{BEGIN addSearch_idFile}
			<a href="#" id="addSearchControl_idFile" class="addSearchControl" {$addSearchControl_idFile_attrs}>Id File</a><br>
		{END addSearch_idFile}
		{BEGIN addSearch_c00}
			<a href="#" id="addSearchControl_c00" class="addSearchControl" {$addSearchControl_c00_attrs}>C00</a><br>
		{END addSearch_c00}
		{BEGIN addSearch_c01}
			<a href="#" id="addSearchControl_c01" class="addSearchControl" {$addSearchControl_c01_attrs}>C01</a><br>
		{END addSearch_c01}
		{BEGIN addSearch_c02}
			<a href="#" id="addSearchControl_c02" class="addSearchControl" {$addSearchControl_c02_attrs}>C02</a><br>
		{END addSearch_c02}
		{BEGIN addSearch_c03}
			<a href="#" id="addSearchControl_c03" class="addSearchControl" {$addSearchControl_c03_attrs}>C03</a><br>
		{END addSearch_c03}
		{BEGIN addSearch_c04}
			<a href="#" id="addSearchControl_c04" class="addSearchControl" {$addSearchControl_c04_attrs}>C04</a><br>
		{END addSearch_c04}
		{BEGIN addSearch_c05}
			<a href="#" id="addSearchControl_c05" class="addSearchControl" {$addSearchControl_c05_attrs}>C05</a><br>
		{END addSearch_c05}
		{BEGIN addSearch_c06}
			<a href="#" id="addSearchControl_c06" class="addSearchControl" {$addSearchControl_c06_attrs}>C06</a><br>
		{END addSearch_c06}
		{BEGIN addSearch_c07}
			<a href="#" id="addSearchControl_c07" class="addSearchControl" {$addSearchControl_c07_attrs}>C07</a><br>
		{END addSearch_c07}
		{BEGIN addSearch_c08}
			<a href="#" id="addSearchControl_c08" class="addSearchControl" {$addSearchControl_c08_attrs}>C08</a><br>
		{END addSearch_c08}
		{BEGIN addSearch_c09}
			<a href="#" id="addSearchControl_c09" class="addSearchControl" {$addSearchControl_c09_attrs}>C09</a><br>
		{END addSearch_c09}
		{BEGIN addSearch_c10}
			<a href="#" id="addSearchControl_c10" class="addSearchControl" {$addSearchControl_c10_attrs}>C10</a><br>
		{END addSearch_c10}
		{BEGIN addSearch_c11}
			<a href="#" id="addSearchControl_c11" class="addSearchControl" {$addSearchControl_c11_attrs}>C11</a><br>
		{END addSearch_c11}
		{BEGIN addSearch_c12}
			<a href="#" id="addSearchControl_c12" class="addSearchControl" {$addSearchControl_c12_attrs}>C12</a><br>
		{END addSearch_c12}
		{BEGIN addSearch_c13}
			<a href="#" id="addSearchControl_c13" class="addSearchControl" {$addSearchControl_c13_attrs}>C13</a><br>
		{END addSearch_c13}
		{BEGIN addSearch_c14}
			<a href="#" id="addSearchControl_c14" class="addSearchControl" {$addSearchControl_c14_attrs}>C14</a><br>
		{END addSearch_c14}
		{BEGIN addSearch_c15}
			<a href="#" id="addSearchControl_c15" class="addSearchControl" {$addSearchControl_c15_attrs}>C15</a><br>
		{END addSearch_c15}
		{BEGIN addSearch_c16}
			<a href="#" id="addSearchControl_c16" class="addSearchControl" {$addSearchControl_c16_attrs}>C16</a><br>
		{END addSearch_c16}
		{BEGIN addSearch_c17}
			<a href="#" id="addSearchControl_c17" class="addSearchControl" {$addSearchControl_c17_attrs}>C17</a><br>
		{END addSearch_c17}
		{BEGIN addSearch_c18}
			<a href="#" id="addSearchControl_c18" class="addSearchControl" {$addSearchControl_c18_attrs}>C18</a><br>
		{END addSearch_c18}
		{BEGIN addSearch_c19}
			<a href="#" id="addSearchControl_c19" class="addSearchControl" {$addSearchControl_c19_attrs}>C19</a><br>
		{END addSearch_c19}
		{BEGIN addSearch_c20}
			<a href="#" id="addSearchControl_c20" class="addSearchControl" {$addSearchControl_c20_attrs}>C20</a><br>
		{END addSearch_c20}
		{BEGIN addSearch_c21}
			<a href="#" id="addSearchControl_c21" class="addSearchControl" {$addSearchControl_c21_attrs}>C21</a><br>
		{END addSearch_c21}
		{BEGIN addSearch_c22}
			<a href="#" id="addSearchControl_c22" class="addSearchControl" {$addSearchControl_c22_attrs}>C22</a><br>
		{END addSearch_c22}
		{BEGIN addSearch_c23}
			<a href="#" id="addSearchControl_c23" class="addSearchControl" {$addSearchControl_c23_attrs}>C23</a><br>
		{END addSearch_c23}
		{BEGIN addSearch_idShow}
			<a href="#" id="addSearchControl_idShow" class="addSearchControl" {$addSearchControl_idShow_attrs}>Id Show</a><br>
		{END addSearch_idShow}
		{BEGIN addSearch_strFileName}
			<a href="#" id="addSearchControl_strFileName" class="addSearchControl" {$addSearchControl_strFileName_attrs}>Str File Name</a><br>
		{END addSearch_strFileName}
		{BEGIN addSearch_strPath}
			<a href="#" id="addSearchControl_strPath" class="addSearchControl" {$addSearchControl_strPath_attrs}>Str Path</a><br>
		{END addSearch_strPath}
		{BEGIN addSearch_playCount}
			<a href="#" id="addSearchControl_playCount" class="addSearchControl" {$addSearchControl_playCount_attrs}>Play Count</a><br>
		{END addSearch_playCount}
		{BEGIN addSearch_lastPlayed}
			<a href="#" id="addSearchControl_lastPlayed" class="addSearchControl" {$addSearchControl_lastPlayed_attrs}>Last Played</a><br>
		{END addSearch_lastPlayed}
		{BEGIN addSearch_dateAdded}
			<a href="#" id="addSearchControl_dateAdded" class="addSearchControl" {$addSearchControl_dateAdded_attrs}>Date Added</a><br>
		{END addSearch_dateAdded}
		{BEGIN addSearch_strTitle}
			<a href="#" id="addSearchControl_strTitle" class="addSearchControl" {$addSearchControl_strTitle_attrs}>Str Title</a><br>
		{END addSearch_strTitle}
		{BEGIN addSearch_strStudio}
			<a href="#" id="addSearchControl_strStudio" class="addSearchControl" {$addSearchControl_strStudio_attrs}>Str Studio</a><br>
		{END addSearch_strStudio}
		{BEGIN addSearch_premiered}
			<a href="#" id="addSearchControl_premiered" class="addSearchControl" {$addSearchControl_premiered_attrs}>Premiered</a><br>
		{END addSearch_premiered}
		{BEGIN addSearch_mpaa}
			<a href="#" id="addSearchControl_mpaa" class="addSearchControl" {$addSearchControl_mpaa_attrs}>Mpaa</a><br>
		{END addSearch_mpaa}
		{BEGIN addSearch_resumeTimeInSeconds}
			<a href="#" id="addSearchControl_resumeTimeInSeconds" class="addSearchControl" {$addSearchControl_resumeTimeInSeconds_attrs}>Resume Time In Seconds</a><br>
		{END addSearch_resumeTimeInSeconds}
		{BEGIN addSearch_totalTimeInSeconds}
			<a href="#" id="addSearchControl_totalTimeInSeconds" class="addSearchControl" {$addSearchControl_totalTimeInSeconds_attrs}>Total Time In Seconds</a><br>
		{END addSearch_totalTimeInSeconds}
		{BEGIN addSearch_idSeason}
			<a href="#" id="addSearchControl_idSeason" class="addSearchControl" {$addSearchControl_idSeason_attrs}>Id Season</a><br>
		{END addSearch_idSeason}
	</div>
	
	<table class="controlsBlock">
	{BEGIN searchCtrlBlock}
		<tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
				<div class="runner-searchtype">{$searchtype}</div>
				<div class="runner-searchcontrol">{$searchcontrol}</div>
				<div class="runner-searchcontrol">{$searchcontrol1}</div>
		</tr>
	{END searchCtrlBlock}
	</table>
	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
		</span>
	</div>
</div>
