<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					



{BEGIN container_view}
<table class="runner-c runner-c-view" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-viewheader {$brickclass_viewheader}">Movies, View record [
Id Movie: {$show_key1}
]</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


	{BEGIN idMovie_fieldblock}
	<tr class="runner-toprow header style1 runner-b-viewfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_idMovie {$fielddispclass_idMovie}">
			<b>Id Movie</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_idMovie {$fielddispclass_idMovie}">
			{$idMovie_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"><img src="images/spacer.gif"></td></tr>
{END idMovie_fieldblock}
	{BEGIN idFile_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_idFile {$fielddispclass_idFile}">
			<b>Id File</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_idFile {$fielddispclass_idFile}">
			{$idFile_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END idFile_fieldblock}
	{BEGIN c00_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c00 {$fielddispclass_c00}">
			<b>Movie Name</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c00 {$fielddispclass_c00}">
			{$c00_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c00_fieldblock}
	{BEGIN c01_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c01 {$fielddispclass_c01}">
			<b>Plot</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c01 {$fielddispclass_c01}">
			{$c01_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c01_fieldblock}
	{BEGIN c02_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c02 {$fielddispclass_c02}">
			<b>Outline</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c02 {$fielddispclass_c02}">
			{$c02_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c02_fieldblock}
	{BEGIN c03_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c03 {$fielddispclass_c03}">
			<b>Tagline</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c03 {$fielddispclass_c03}">
			{$c03_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c03_fieldblock}
	{BEGIN c04_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c04 {$fielddispclass_c04}">
			<b>votes</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c04 {$fielddispclass_c04}">
			{$c04_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c04_fieldblock}
	{BEGIN c05_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c05 {$fielddispclass_c05}">
			<b>Rating</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c05 {$fielddispclass_c05}">
			{$c05_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c05_fieldblock}
	{BEGIN c06_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c06 {$fielddispclass_c06}">
			<b>Writers</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c06 {$fielddispclass_c06}">
			{$c06_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c06_fieldblock}
	{BEGIN c07_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c07 {$fielddispclass_c07}">
			<b>Year</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c07 {$fielddispclass_c07}">
			{$c07_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c07_fieldblock}
	{BEGIN c08_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c08 {$fielddispclass_c08}">
			<b>Thumbnails</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c08 {$fielddispclass_c08}">
			{$c08_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c08_fieldblock}
	{BEGIN c09_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c09 {$fielddispclass_c09}">
			<b>Imdb ID</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c09 {$fielddispclass_c09}">
			{$c09_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c09_fieldblock}
	{BEGIN c10_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c10 {$fielddispclass_c10}">
			<b>Sorting Title</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c10 {$fielddispclass_c10}">
			{$c10_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c10_fieldblock}
	{BEGIN c11_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c11 {$fielddispclass_c11}">
			<b>Runtime</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c11 {$fielddispclass_c11}">
			{$c11_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c11_fieldblock}
	{BEGIN c12_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c12 {$fielddispclass_c12}">
			<b>MPAA Rating</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c12 {$fielddispclass_c12}">
			{$c12_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c12_fieldblock}
	{BEGIN c13_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c13 {$fielddispclass_c13}">
			<b>IMDB Rating</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c13 {$fielddispclass_c13}">
			{$c13_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c13_fieldblock}
	{BEGIN c14_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c14 {$fielddispclass_c14}">
			<b>Genre</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c14 {$fielddispclass_c14}">
			{$c14_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c14_fieldblock}
	{BEGIN c15_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c15 {$fielddispclass_c15}">
			<b>Director</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c15 {$fielddispclass_c15}">
			{$c15_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c15_fieldblock}
	{BEGIN c16_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c16 {$fielddispclass_c16}">
			<b>Original Title</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c16 {$fielddispclass_c16}">
			{$c16_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c16_fieldblock}
	{BEGIN c18_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c18 {$fielddispclass_c18}">
			<b>Studio</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c18 {$fielddispclass_c18}">
			{$c18_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c18_fieldblock}
	{BEGIN c19_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c19 {$fielddispclass_c19}">
			<b>Trailer</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c19 {$fielddispclass_c19}">
			{$c19_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c19_fieldblock}
	{BEGIN c20_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c20 {$fielddispclass_c20}">
			<b>FanArt</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c20 {$fielddispclass_c20}">
			{$c20_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c20_fieldblock}
	{BEGIN c21_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c21 {$fielddispclass_c21}">
			<b>Country</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c21 {$fielddispclass_c21}">
			{$c21_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c21_fieldblock}
	{BEGIN c22_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c22 {$fielddispclass_c22}">
			<b>Path</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c22 {$fielddispclass_c22}">
			{$c22_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c22_fieldblock}
	{BEGIN c23_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_c23 {$fielddispclass_c23}">
			<b>Pathid</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_c23 {$fielddispclass_c23}">
			{$c23_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END c23_fieldblock}
	{BEGIN idSet_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_idSet {$fielddispclass_idSet}">
			<b>Id Set</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_idSet {$fielddispclass_idSet}">
			{$idSet_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END idSet_fieldblock}
	{BEGIN strFilename_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_strFilename {$fielddispclass_strFilename}">
			<b>Str Filename</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_strFilename {$fielddispclass_strFilename}">
			{$strFilename_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END strFilename_fieldblock}
	{BEGIN idPath_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_idPath {$fielddispclass_idPath}">
			<b>Id Path</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_idPath {$fielddispclass_idPath}">
			{$idPath_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END idPath_fieldblock}
	{BEGIN dateAdded_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_dateAdded {$fielddispclass_dateAdded}">
			<b>Date Added</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_dateAdded {$fielddispclass_dateAdded}">
			{$dateAdded_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END dateAdded_fieldblock}
	{BEGIN strPath_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_strPath {$fielddispclass_strPath}">
			<b>Str Path</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_strPath {$fielddispclass_strPath}">
			{$strPath_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END strPath_fieldblock}
	{BEGIN strGenre_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_strGenre {$fielddispclass_strGenre}">
			<b>Str Genre</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_strGenre {$fielddispclass_strGenre}">
			{$strGenre_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END strGenre_fieldblock}
	{BEGIN idGenre_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_idGenre {$fielddispclass_idGenre}">
			<b>Id Genre</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_idGenre {$fielddispclass_idGenre}">
			{$idGenre_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END idGenre_fieldblock}
	{BEGIN strSet_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_strSet {$fielddispclass_strSet}">
			<b>Str Set</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_strSet {$fielddispclass_strSet}">
			{$strSet_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END strSet_fieldblock}
	{BEGIN idSet1_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_idSet1 {$fielddispclass_idSet1}">
			<b>Id Set1</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_idSet1 {$fielddispclass_idSet1}">
			{$idSet1_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END idSet1_fieldblock}
	{BEGIN strTag_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_strTag {$fielddispclass_strTag}">
			<b>Str Tag</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_strTag {$fielddispclass_strTag}">
			{$strTag_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END strTag_fieldblock}
	{BEGIN idTag_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_idTag {$fielddispclass_idTag}">
			<b>Id Tag</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_idTag {$fielddispclass_idTag}">
			{$idTag_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END idTag_fieldblock}




<tr  class="runner-row style2 runner-b-viewbuttons {$brickclass_viewbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN prev_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
</span>
{END prev_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}
{BEGIN next_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
</span>
{END next_button}
</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_view}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_view}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
