<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="idTag">
	{$idTag_editcontrol}
	</control>
	<control field="idSet1">
	{$idSet1_editcontrol}
	</control>
	<control field="strSet">
	{$strSet_editcontrol}
	</control>
	<control field="idGenre">
	{$idGenre_editcontrol}
	</control>
	<control field="strGenre">
	{$strGenre_editcontrol}
	</control>
	<control field="strPath">
	{$strPath_editcontrol}
	</control>
	<control field="dateAdded">
	{$dateAdded_editcontrol}
	</control>
	<control field="idPath">
	{$idPath_editcontrol}
	</control>
	<control field="strFilename">
	{$strFilename_editcontrol}
	</control>
	<control field="strTag">
	{$strTag_editcontrol}
	</control>
	<control field="idMovie">
	{$idMovie_editcontrol}
	</control>
	<control field="idFile">
	{$idFile_editcontrol}
	</control>
	<control field="c00">
	{$c00_editcontrol}
	</control>
	<control field="c01">
	{$c01_editcontrol}
	</control>
	<control field="c02">
	{$c02_editcontrol}
	</control>
	<control field="c03">
	{$c03_editcontrol}
	</control>
	<control field="c04">
	{$c04_editcontrol}
	</control>
	<control field="c05">
	{$c05_editcontrol}
	</control>
	<control field="c06">
	{$c06_editcontrol}
	</control>
	<control field="c07">
	{$c07_editcontrol}
	</control>
	<control field="c08">
	{$c08_editcontrol}
	</control>
	<control field="c09">
	{$c09_editcontrol}
	</control>
	<control field="c10">
	{$c10_editcontrol}
	</control>
	<control field="c11">
	{$c11_editcontrol}
	</control>
	<control field="c12">
	{$c12_editcontrol}
	</control>
	<control field="c13">
	{$c13_editcontrol}
	</control>
	<control field="c14">
	{$c14_editcontrol}
	</control>
	<control field="c15">
	{$c15_editcontrol}
	</control>
	<control field="c16">
	{$c16_editcontrol}
	</control>
	<control field="c18">
	{$c18_editcontrol}
	</control>
	<control field="c19">
	{$c19_editcontrol}
	</control>
	<control field="c20">
	{$c20_editcontrol}
	</control>
	<control field="c21">
	{$c21_editcontrol}
	</control>
	<control field="c22">
	{$c22_editcontrol}
	</control>
	<control field="c23">
	{$c23_editcontrol}
	</control>
	<control field="idSet">
	{$idSet_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>