<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					

{BEGIN container_grid}


{BEGIN grid_block}
{BEGIN page}
<h1>Movies</h1>
<span>
{BEGIN page_number}
Page {$pageno} of {$maxpages} 
{END page_number}
</span>

	<div class="runner-s-grid">	
	<table class="runner-c runner-c-grid" cellpadding="0">
		<thead>
		{BEGIN grid_header}
		<tr class="runner-toprow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			{BEGIN record_header}
					{BEGIN idMovie_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN idMovie_fieldheader}
	<b>Id Movie</b>
	{END idMovie_fieldheader}
</th>
{END idMovie_fieldheadercolumn}
	{BEGIN idFile_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN idFile_fieldheader}
	<b>Id File</b>
	{END idFile_fieldheader}
</th>
{END idFile_fieldheadercolumn}
	{BEGIN c00_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c00_fieldheader}
	<b>Movie Name</b>
	{END c00_fieldheader}
</th>
{END c00_fieldheadercolumn}
	{BEGIN c01_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c01_fieldheader}
	<b>Plot</b>
	{END c01_fieldheader}
</th>
{END c01_fieldheadercolumn}
	{BEGIN c02_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c02_fieldheader}
	<b>Outline</b>
	{END c02_fieldheader}
</th>
{END c02_fieldheadercolumn}
	{BEGIN c03_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c03_fieldheader}
	<b>Tagline</b>
	{END c03_fieldheader}
</th>
{END c03_fieldheadercolumn}
	{BEGIN c04_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c04_fieldheader}
	<b>votes</b>
	{END c04_fieldheader}
</th>
{END c04_fieldheadercolumn}
	{BEGIN c05_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c05_fieldheader}
	<b>Rating</b>
	{END c05_fieldheader}
</th>
{END c05_fieldheadercolumn}
	{BEGIN c06_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c06_fieldheader}
	<b>Writers</b>
	{END c06_fieldheader}
</th>
{END c06_fieldheadercolumn}
	{BEGIN c07_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c07_fieldheader}
	<b>Year</b>
	{END c07_fieldheader}
</th>
{END c07_fieldheadercolumn}
	{BEGIN c08_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c08_fieldheader}
	<b>Thumbnails</b>
	{END c08_fieldheader}
</th>
{END c08_fieldheadercolumn}
	{BEGIN c09_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c09_fieldheader}
	<b>Imdb ID</b>
	{END c09_fieldheader}
</th>
{END c09_fieldheadercolumn}
	{BEGIN c10_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c10_fieldheader}
	<b>Sorting Title</b>
	{END c10_fieldheader}
</th>
{END c10_fieldheadercolumn}
	{BEGIN c11_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c11_fieldheader}
	<b>Runtime</b>
	{END c11_fieldheader}
</th>
{END c11_fieldheadercolumn}
	{BEGIN c12_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c12_fieldheader}
	<b>MPAA Rating</b>
	{END c12_fieldheader}
</th>
{END c12_fieldheadercolumn}
	{BEGIN c13_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c13_fieldheader}
	<b>IMDB Rating</b>
	{END c13_fieldheader}
</th>
{END c13_fieldheadercolumn}
	{BEGIN c14_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c14_fieldheader}
	<b>Genre</b>
	{END c14_fieldheader}
</th>
{END c14_fieldheadercolumn}
	{BEGIN c15_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c15_fieldheader}
	<b>Director</b>
	{END c15_fieldheader}
</th>
{END c15_fieldheadercolumn}
	{BEGIN c16_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c16_fieldheader}
	<b>Original Title</b>
	{END c16_fieldheader}
</th>
{END c16_fieldheadercolumn}
	{BEGIN c18_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c18_fieldheader}
	<b>Studio</b>
	{END c18_fieldheader}
</th>
{END c18_fieldheadercolumn}
	{BEGIN c19_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c19_fieldheader}
	<b>Trailer</b>
	{END c19_fieldheader}
</th>
{END c19_fieldheadercolumn}
	{BEGIN c20_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c20_fieldheader}
	<b>FanArt</b>
	{END c20_fieldheader}
</th>
{END c20_fieldheadercolumn}
	{BEGIN c21_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c21_fieldheader}
	<b>Country</b>
	{END c21_fieldheader}
</th>
{END c21_fieldheadercolumn}
	{BEGIN c22_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c22_fieldheader}
	<b>Path</b>
	{END c22_fieldheader}
</th>
{END c22_fieldheadercolumn}
	{BEGIN c23_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN c23_fieldheader}
	<b>Pathid</b>
	{END c23_fieldheader}
</th>
{END c23_fieldheadercolumn}
	{BEGIN idSet_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN idSet_fieldheader}
	<b>Id Set</b>
	{END idSet_fieldheader}
</th>
{END idSet_fieldheadercolumn}
		
			{END record_header}
			<td class="runner-cr"><img src="images/spacer.gif"></td>
			{BEGIN endrecordheader_block}
			<td class="runner-cs">&nbsp;</td>
			{END endrecordheader_block}
		</tr>
	{END grid_header}
		</thead>
		<tbody>	
		{BEGIN grid_row}
	<tr class="runner-row style1" {$rowattrs} {$rowstyle} {$rowstyle}>
		<td class="runner-cl"></td>
		{BEGIN grid_record}
				{BEGIN idMovie_fieldcolumn}
<td  class="runner-cc {$idMovie_class}" {$idMovie_style}>
	{$idMovie_value}
</td>
{END idMovie_fieldcolumn}
	{BEGIN idFile_fieldcolumn}
<td  class="runner-cc {$idFile_class}" {$idFile_style}>
	{$idFile_value}
</td>
{END idFile_fieldcolumn}
	{BEGIN c00_fieldcolumn}
<td  class="runner-cc {$c00_class}" {$c00_style}>
	{$c00_value}
</td>
{END c00_fieldcolumn}
	{BEGIN c01_fieldcolumn}
<td  class="runner-cc {$c01_class}" {$c01_style}>
	{$c01_value}
</td>
{END c01_fieldcolumn}
	{BEGIN c02_fieldcolumn}
<td  class="runner-cc {$c02_class}" {$c02_style}>
	{$c02_value}
</td>
{END c02_fieldcolumn}
	{BEGIN c03_fieldcolumn}
<td  class="runner-cc {$c03_class}" {$c03_style}>
	{$c03_value}
</td>
{END c03_fieldcolumn}
	{BEGIN c04_fieldcolumn}
<td  class="runner-cc {$c04_class}" {$c04_style}>
	{$c04_value}
</td>
{END c04_fieldcolumn}
	{BEGIN c05_fieldcolumn}
<td  class="runner-cc {$c05_class}" {$c05_style}>
	{$c05_value}
</td>
{END c05_fieldcolumn}
	{BEGIN c06_fieldcolumn}
<td  class="runner-cc {$c06_class}" {$c06_style}>
	{$c06_value}
</td>
{END c06_fieldcolumn}
	{BEGIN c07_fieldcolumn}
<td  class="runner-cc {$c07_class}" {$c07_style}>
	{$c07_value}
</td>
{END c07_fieldcolumn}
	{BEGIN c08_fieldcolumn}
<td  class="runner-cc {$c08_class}" {$c08_style}>
	{$c08_value}
</td>
{END c08_fieldcolumn}
	{BEGIN c09_fieldcolumn}
<td  class="runner-cc {$c09_class}" {$c09_style}>
	{$c09_value}
</td>
{END c09_fieldcolumn}
	{BEGIN c10_fieldcolumn}
<td  class="runner-cc {$c10_class}" {$c10_style}>
	{$c10_value}
</td>
{END c10_fieldcolumn}
	{BEGIN c11_fieldcolumn}
<td  class="runner-cc {$c11_class}" {$c11_style}>
	{$c11_value}
</td>
{END c11_fieldcolumn}
	{BEGIN c12_fieldcolumn}
<td  class="runner-cc {$c12_class}" {$c12_style}>
	{$c12_value}
</td>
{END c12_fieldcolumn}
	{BEGIN c13_fieldcolumn}
<td  class="runner-cc {$c13_class}" {$c13_style}>
	{$c13_value}
</td>
{END c13_fieldcolumn}
	{BEGIN c14_fieldcolumn}
<td  class="runner-cc {$c14_class}" {$c14_style}>
	{$c14_value}
</td>
{END c14_fieldcolumn}
	{BEGIN c15_fieldcolumn}
<td  class="runner-cc {$c15_class}" {$c15_style}>
	{$c15_value}
</td>
{END c15_fieldcolumn}
	{BEGIN c16_fieldcolumn}
<td  class="runner-cc {$c16_class}" {$c16_style}>
	{$c16_value}
</td>
{END c16_fieldcolumn}
	{BEGIN c18_fieldcolumn}
<td  class="runner-cc {$c18_class}" {$c18_style}>
	{$c18_value}
</td>
{END c18_fieldcolumn}
	{BEGIN c19_fieldcolumn}
<td  class="runner-cc {$c19_class}" {$c19_style}>
	{$c19_value}
</td>
{END c19_fieldcolumn}
	{BEGIN c20_fieldcolumn}
<td  class="runner-cc {$c20_class}" {$c20_style}>
	{$c20_value}
</td>
{END c20_fieldcolumn}
	{BEGIN c21_fieldcolumn}
<td  class="runner-cc {$c21_class}" {$c21_style}>
	{$c21_value}
</td>
{END c21_fieldcolumn}
	{BEGIN c22_fieldcolumn}
<td  class="runner-cc {$c22_class}" {$c22_style}>
	{$c22_value}
</td>
{END c22_fieldcolumn}
	{BEGIN c23_fieldcolumn}
<td  class="runner-cc {$c23_class}" {$c23_style}>
	{$c23_value}
</td>
{END c23_fieldcolumn}
	{BEGIN idSet_fieldcolumn}
<td  class="runner-cc {$idSet_class}" {$idSet_style}>
	{$idSet_value}
</td>
{END idSet_fieldcolumn}

		{END grid_record}
		<td class="runner-cr"></td>
		{BEGIN endrecord_block}
		<td class="runner-cs">&nbsp;</td>
		{END endrecord_block}
	</tr>
{END grid_row}
										
								<tr class="runner-bottomrow style1">
									<td class="runner-cl"><img src="images/spacer.gif"></td>
									{BEGIN record_footer}
									{BEGIN idMovie_fieldfootercolumn}
<td class="runner-cc "></td>
{END idMovie_fieldfootercolumn}
{BEGIN idFile_fieldfootercolumn}
<td class="runner-cc "></td>
{END idFile_fieldfootercolumn}
{BEGIN c00_fieldfootercolumn}
<td class="runner-cc "></td>
{END c00_fieldfootercolumn}
{BEGIN c01_fieldfootercolumn}
<td class="runner-cc "></td>
{END c01_fieldfootercolumn}
{BEGIN c02_fieldfootercolumn}
<td class="runner-cc "></td>
{END c02_fieldfootercolumn}
{BEGIN c03_fieldfootercolumn}
<td class="runner-cc "></td>
{END c03_fieldfootercolumn}
{BEGIN c04_fieldfootercolumn}
<td class="runner-cc "></td>
{END c04_fieldfootercolumn}
{BEGIN c05_fieldfootercolumn}
<td class="runner-cc "></td>
{END c05_fieldfootercolumn}
{BEGIN c06_fieldfootercolumn}
<td class="runner-cc "></td>
{END c06_fieldfootercolumn}
{BEGIN c07_fieldfootercolumn}
<td class="runner-cc "></td>
{END c07_fieldfootercolumn}
{BEGIN c08_fieldfootercolumn}
<td class="runner-cc "></td>
{END c08_fieldfootercolumn}
{BEGIN c09_fieldfootercolumn}
<td class="runner-cc "></td>
{END c09_fieldfootercolumn}
{BEGIN c10_fieldfootercolumn}
<td class="runner-cc "></td>
{END c10_fieldfootercolumn}
{BEGIN c11_fieldfootercolumn}
<td class="runner-cc "></td>
{END c11_fieldfootercolumn}
{BEGIN c12_fieldfootercolumn}
<td class="runner-cc "></td>
{END c12_fieldfootercolumn}
{BEGIN c13_fieldfootercolumn}
<td class="runner-cc "></td>
{END c13_fieldfootercolumn}
{BEGIN c14_fieldfootercolumn}
<td class="runner-cc "></td>
{END c14_fieldfootercolumn}
{BEGIN c15_fieldfootercolumn}
<td class="runner-cc "></td>
{END c15_fieldfootercolumn}
{BEGIN c16_fieldfootercolumn}
<td class="runner-cc "></td>
{END c16_fieldfootercolumn}
{BEGIN c18_fieldfootercolumn}
<td class="runner-cc "></td>
{END c18_fieldfootercolumn}
{BEGIN c19_fieldfootercolumn}
<td class="runner-cc "></td>
{END c19_fieldfootercolumn}
{BEGIN c20_fieldfootercolumn}
<td class="runner-cc "></td>
{END c20_fieldfootercolumn}
{BEGIN c21_fieldfootercolumn}
<td class="runner-cc "></td>
{END c21_fieldfootercolumn}
{BEGIN c22_fieldfootercolumn}
<td class="runner-cc "></td>
{END c22_fieldfootercolumn}
{BEGIN c23_fieldfootercolumn}
<td class="runner-cc "></td>
{END c23_fieldfootercolumn}
{BEGIN idSet_fieldfootercolumn}
<td class="runner-cc runner-clast"></td>
{END idSet_fieldfootercolumn}

									{END record_footer}
									<td class="runner-cr"><img src="images/spacer.gif"></td>
									{BEGIN endrecordtotals_block}
									<td class="runner-cs"></td>
									{END endrecordtotals_block}
								</tr>

		</tbody>
	</table>
</div>	
{END page}

{END grid_block}



{END container_grid}


				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
