<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">Seasonview - Advanced search
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="runner-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="runner-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NOT</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN idSeason_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_idSeason {$fielddispclass_idSeason}">
				Id Season
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_idSeason {$fielddispclass_idSeason}">
			<input type="checkbox" {$idSeason_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_idSeason {$fielddispclass_idSeason}">
			{$searchtype_idSeason}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_idSeason {$fielddispclass_idSeason}">
			{$idSeason_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_idSeason {$fielddispclass_idSeason}">
			{$idSeason_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END idSeason_fieldblock}
	{BEGIN idShow_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_idShow {$fielddispclass_idShow}">
				Id Show
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_idShow {$fielddispclass_idShow}">
			<input type="checkbox" {$idShow_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_idShow {$fielddispclass_idShow}">
			{$searchtype_idShow}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_idShow {$fielddispclass_idShow}">
			{$idShow_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_idShow {$fielddispclass_idShow}">
			{$idShow_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END idShow_fieldblock}
	{BEGIN season_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_season {$fielddispclass_season}">
				Season
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_season {$fielddispclass_season}">
			<input type="checkbox" {$season_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_season {$fielddispclass_season}">
			{$searchtype_season}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_season {$fielddispclass_season}">
			{$season_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_season {$fielddispclass_season}">
			{$season_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END season_fieldblock}
	{BEGIN strPath_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_strPath {$fielddispclass_strPath}">
				Str Path
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_strPath {$fielddispclass_strPath}">
			<input type="checkbox" {$strPath_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_strPath {$fielddispclass_strPath}">
			{$searchtype_strPath}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_strPath {$fielddispclass_strPath}">
			{$strPath_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_strPath {$fielddispclass_strPath}">
			{$strPath_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END strPath_fieldblock}
	{BEGIN showTitle_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_showTitle {$fielddispclass_showTitle}">
				Show Title
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_showTitle {$fielddispclass_showTitle}">
			<input type="checkbox" {$showTitle_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_showTitle {$fielddispclass_showTitle}">
			{$searchtype_showTitle}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_showTitle {$fielddispclass_showTitle}">
			{$showTitle_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_showTitle {$fielddispclass_showTitle}">
			{$showTitle_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END showTitle_fieldblock}
	{BEGIN plot_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_plot {$fielddispclass_plot}">
				Plot
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_plot {$fielddispclass_plot}">
			<input type="checkbox" {$plot_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_plot {$fielddispclass_plot}">
			{$searchtype_plot}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_plot {$fielddispclass_plot}">
			{$plot_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_plot {$fielddispclass_plot}">
			{$plot_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END plot_fieldblock}
	{BEGIN premiered_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_premiered {$fielddispclass_premiered}">
				Premiered
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_premiered {$fielddispclass_premiered}">
			<input type="checkbox" {$premiered_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_premiered {$fielddispclass_premiered}">
			{$searchtype_premiered}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_premiered {$fielddispclass_premiered}">
			{$premiered_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_premiered {$fielddispclass_premiered}">
			{$premiered_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END premiered_fieldblock}
	{BEGIN genre_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_genre {$fielddispclass_genre}">
				Genre
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_genre {$fielddispclass_genre}">
			<input type="checkbox" {$genre_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_genre {$fielddispclass_genre}">
			{$searchtype_genre}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_genre {$fielddispclass_genre}">
			{$genre_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_genre {$fielddispclass_genre}">
			{$genre_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END genre_fieldblock}
	{BEGIN strStudio_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_strStudio {$fielddispclass_strStudio}">
				Str Studio
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_strStudio {$fielddispclass_strStudio}">
			<input type="checkbox" {$strStudio_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_strStudio {$fielddispclass_strStudio}">
			{$searchtype_strStudio}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_strStudio {$fielddispclass_strStudio}">
			{$strStudio_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_strStudio {$fielddispclass_strStudio}">
			{$strStudio_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END strStudio_fieldblock}
	{BEGIN mpaa_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_mpaa {$fielddispclass_mpaa}">
				Mpaa
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_mpaa {$fielddispclass_mpaa}">
			<input type="checkbox" {$mpaa_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_mpaa {$fielddispclass_mpaa}">
			{$searchtype_mpaa}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_mpaa {$fielddispclass_mpaa}">
			{$mpaa_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_mpaa {$fielddispclass_mpaa}">
			{$mpaa_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END mpaa_fieldblock}
	{BEGIN episodes_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_episodes {$fielddispclass_episodes}">
				Episodes
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_episodes {$fielddispclass_episodes}">
			<input type="checkbox" {$episodes_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_episodes {$fielddispclass_episodes}">
			{$searchtype_episodes}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_episodes {$fielddispclass_episodes}">
			{$episodes_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_episodes {$fielddispclass_episodes}">
			{$episodes_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END episodes_fieldblock}
	{BEGIN playCount_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_playCount {$fielddispclass_playCount}">
				Play Count
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_playCount {$fielddispclass_playCount}">
			<input type="checkbox" {$playCount_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_playCount {$fielddispclass_playCount}">
			{$searchtype_playCount}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_playCount {$fielddispclass_playCount}">
			{$playCount_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_playCount {$fielddispclass_playCount}">
			{$playCount_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END playCount_fieldblock}



<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reset</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
