<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">Tvshowcounts - Advanced search
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="runner-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="runner-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NOT</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN idShow_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_idShow {$fielddispclass_idShow}">
				Id Show
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_idShow {$fielddispclass_idShow}">
			<input type="checkbox" {$idShow_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_idShow {$fielddispclass_idShow}">
			{$searchtype_idShow}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_idShow {$fielddispclass_idShow}">
			{$idShow_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_idShow {$fielddispclass_idShow}">
			{$idShow_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END idShow_fieldblock}
	{BEGIN lastPlayed_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_lastPlayed {$fielddispclass_lastPlayed}">
				Last Played
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_lastPlayed {$fielddispclass_lastPlayed}">
			<input type="checkbox" {$lastPlayed_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_lastPlayed {$fielddispclass_lastPlayed}">
			{$searchtype_lastPlayed}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_lastPlayed {$fielddispclass_lastPlayed}">
			{$lastPlayed_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_lastPlayed {$fielddispclass_lastPlayed}">
			{$lastPlayed_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END lastPlayed_fieldblock}
	{BEGIN totalCount_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_totalCount {$fielddispclass_totalCount}">
				Total Count
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_totalCount {$fielddispclass_totalCount}">
			<input type="checkbox" {$totalCount_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_totalCount {$fielddispclass_totalCount}">
			{$searchtype_totalCount}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_totalCount {$fielddispclass_totalCount}">
			{$totalCount_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_totalCount {$fielddispclass_totalCount}">
			{$totalCount_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END totalCount_fieldblock}
	{BEGIN watchedcount_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_watchedcount {$fielddispclass_watchedcount}">
				Watchedcount
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_watchedcount {$fielddispclass_watchedcount}">
			<input type="checkbox" {$watchedcount_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_watchedcount {$fielddispclass_watchedcount}">
			{$searchtype_watchedcount}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_watchedcount {$fielddispclass_watchedcount}">
			{$watchedcount_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_watchedcount {$fielddispclass_watchedcount}">
			{$watchedcount_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END watchedcount_fieldblock}
	{BEGIN totalSeasons_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_totalSeasons {$fielddispclass_totalSeasons}">
				Total Seasons
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_totalSeasons {$fielddispclass_totalSeasons}">
			<input type="checkbox" {$totalSeasons_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_totalSeasons {$fielddispclass_totalSeasons}">
			{$searchtype_totalSeasons}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_totalSeasons {$fielddispclass_totalSeasons}">
			{$totalSeasons_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_totalSeasons {$fielddispclass_totalSeasons}">
			{$totalSeasons_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END totalSeasons_fieldblock}
	{BEGIN dateAdded_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_dateAdded {$fielddispclass_dateAdded}">
				Date Added
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_dateAdded {$fielddispclass_dateAdded}">
			<input type="checkbox" {$dateAdded_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_dateAdded {$fielddispclass_dateAdded}">
			{$searchtype_dateAdded}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_dateAdded {$fielddispclass_dateAdded}">
			{$dateAdded_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_dateAdded {$fielddispclass_dateAdded}">
			{$dateAdded_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END dateAdded_fieldblock}



<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reset</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
