<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_idShow}
			<a href="#" id="addSearchControl_idShow" class="addSearchControl" {$addSearchControl_idShow_attrs}>Id Show</a><br>
		{END addSearch_idShow}
		{BEGIN addSearch_lastPlayed}
			<a href="#" id="addSearchControl_lastPlayed" class="addSearchControl" {$addSearchControl_lastPlayed_attrs}>Last Played</a><br>
		{END addSearch_lastPlayed}
		{BEGIN addSearch_totalCount}
			<a href="#" id="addSearchControl_totalCount" class="addSearchControl" {$addSearchControl_totalCount_attrs}>Total Count</a><br>
		{END addSearch_totalCount}
		{BEGIN addSearch_watchedcount}
			<a href="#" id="addSearchControl_watchedcount" class="addSearchControl" {$addSearchControl_watchedcount_attrs}>Watchedcount</a><br>
		{END addSearch_watchedcount}
		{BEGIN addSearch_totalSeasons}
			<a href="#" id="addSearchControl_totalSeasons" class="addSearchControl" {$addSearchControl_totalSeasons_attrs}>Total Seasons</a><br>
		{END addSearch_totalSeasons}
		{BEGIN addSearch_dateAdded}
			<a href="#" id="addSearchControl_dateAdded" class="addSearchControl" {$addSearchControl_dateAdded_attrs}>Date Added</a><br>
		{END addSearch_dateAdded}
	</div>
	
	<div class="controlsBlock">
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow" {$filterRow_attrs}>
			<div class="srchPanelCell">{$delCtrlButt}&nbsp;{$fLabel}:&nbsp;</div>
			<div class="srchPanelCell srchPanelCell2">{$searchtype} {$searchcontrol} {$searchcontrol1}</div>
		</div>
		{END searchCtrlBlock}
	</div>
		
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
		</span>
	</div>
</div>
